body {
  background-color: #f4f4f9;
  overflow-x: hidden;
}

h1,
h3 {
  margin: 0;
}

.hero {
  background-color: #fffbfc;
  padding: 1.5rem 3rem;
  box-shadow: 0.2rem 0rem 0.2rem #7d869c;
  color: #586994;
}

#content {
  display: flex;
  justify-content: space-between;
}

.form-section,
.cv-section {
  padding: 2rem;
}

.form-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.about-form-header {
  display: flex;
  justify-content: space-between;
}

.about-form {
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s, transform 0.5s;
  transform: translateY(-1rem);
}

.about-form-show {
  opacity: 1;
  visibility: visible;
  transform: translateY(1rem);
}

.general-form,
.about-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.cv-section {
  display: flex;
  align-items: start;
}

.cv-sheet {
  background-color: white;
  width: 794px;
  height: 1123px;
  transform-origin: 0% 0%;
}

.general-info-cv {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem 0 2rem 0;
  background-color: #586994;
  color: #fffbfc;
  min-height: 12rem;
}

.general-sub {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-width: 100%;
}

.general-sub-1,
.general-sub-2 {
  display: flex;
  justify-content: space-evenly;
}

.main-info-cv {
  padding: 2rem;
}
