body {
  background-color: #f4f4f9;
  overflow-x: hidden;
}

h1,
h3 {
  margin: 0;
}

.hero {
  background-color: #fffbfc;
  padding: 1.5rem 3rem;
  box-shadow: 0.2rem 0rem 0.2rem #7d869c;
  color: #586994;
}

#content {
  display: flex;
  justify-content: space-between;
}

.form-section,
.cv-section {
  padding: 2rem;
}

.form-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.about-form-container,
.education-form-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.about-form-header,
.education-form-header {
  display: flex;
  justify-content: space-between;
}

.form-hide {
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s, transform 0.5s;
  transform: translateY(-2rem);
  max-height: 0;
}

.form-show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0rem);
  max-height: max-content;
}

.general-form,
.about-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.cv-section {
  display: flex;
  align-items: start;
}

.cv-sheet {
  background-color: white;
  width: 793.7px;
  height: 1122px;
  transform-origin: 0% 0%;
}

.general-info-cv {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem 0 2rem 0;
  background-color: #586994;
  color: #fffbfc;
  min-height: 12rem;
  font-family: Calibri, "sans-serif";
}

.full-name-cv {
  font-size: 2rem;
}

.general-sub {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-width: 100%;
}

.general-sub-1,
.general-sub-2 {
  display: flex;
  justify-content: center;
}

.email-cv-container,
.phone-cv-container,
.linkedin-cv-container,
.github-cv-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 12rem;
}

.general-cv-icon {
  width: 1.2rem;
  height: auto;
}

.main-info-cv {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.main-info-cv h1 {
  font-family: Helvetica, "sans-serif";
}

.about-cv,
.education-cv,
.experience-cv {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.about-cv > :not(h1),
.education-cv > :not(h1),
.experience-cv > :not(h1) {
  font-family: Calibri, "sans-serif";
  font-size: 1.1rem;
}

.education-info-cv {
  display: flex;
  gap: 2rem;
}

.school-name-cv {
  font-weight: bold;
}

.education-timeline-info-cv,
.experience-timeline-info-cv {
  display: flex;
  gap: 0.3rem;
  border-left: 0.1rem solid black;
  height: max-content;
  padding-left: 2rem;
}

.experience-info-cv {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.company-name-cv {
  font-weight: bold;
}

.responsibilities-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-top: 0.5rem;
}

.experience-main-info-cv-row {
  display: flex;
  gap: 2rem;
}

.bullet-point {
  color: #586994;
}
